[include]
    path = ~/.dotfiles/.gitconfig.ignored

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.dotfiles/.gitignore.global
    hookspath = ~/.dotfiles/.hooks

[commit]
    template = ~/.dotfiles/.git.commit.template

[alias]
    assume-changed = update-index --no-assume-unchanged
    assume-unchanged = update-index --assume-unchanged

[color]
    ui = auto

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false
    keepBackup = false

[diff]
    tool = vimdiff

[difftool]
    prompt = false
