
# --- EMOJIS ---:
# 😊 :blush: 😏 :smirk: 😭 :sob: 😱 :scream: 😖 :confounded:
# ⭐️ :star: ❗️ :exclamation: ❓ :question: 💥 :collision:
# 👽 :alien: 😍 :heart_eyes: 💩 :shit: 🔥 :fire: 💣 :bomb:
# 💌 :love_letter: 👀 :eyes: :trollface: :trollface: 💦 :sweat_drops:
# 🍺 :beer: 🍻 :beers: 🍹 :tropical_drink: 🍷 :wine_glass:
