[include]
    path = ~/.dotfiles/.common/.gitconfig

[core]
    editor = nvim

[merge]
    tool = nvim 
    conflictstyle = diff3

[mergetool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[diff]
    tool = nvim 

[difftool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
