
# --- SUBJECT GUIDE --- #
# If applied, this commit will...
#
# --- 7 RULES OF A GREAT COMMIT MESSAGE --- #
# (1) Separate subject from body with a blank line
# (2) Limit the subject line to 50 characters
# (3) Capitalize the subject line
# (4) Do not end the subject line with a period
# (5) Use the imperative mood in the subject line
# (6) Wrap the body at 72 characters
# (7) Use the body to explain what and why vs. how
#
# --- EMOJIS --- #
# 😊 :blush: 😏 :smirk: 😭 :sob: 😱 :scream: 😖 :confounded:
# ⭐️ :star: ❗️ :exclamation: ❓ :question: 💥 :collision:
# 👽 :alien: 😍 :heart_eyes: 💩 :shit: 🔥 :fire: 💣 :bomb:
# 💌 :love_letter: 👀 :eyes: :trollface: :trollface: 💦 :sweat_drops:
# 🍺 :beer: 🍻 :beers: 🍹 :tropical_drink: 🍷 :wine_glass:
